{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Create an Issue of Interest{% endblock %}
{% block mainviz %}

<div id="aboutContent">

<h1> THINK+MAKE </h1>
<br>

<h2>Why is this organization being conceptualized?</h2>

<br>
<p>Do you wish there was a more efficient way to file a police complaint without waiting for hours in line? Do you wish that there was an easier method to report load shedding other than continuously calling an operator? Do you wish that our schools in our city tracked student performance and tailored education? </p>

<p>The current method of finding solutions in the social welfare space in India can, and should, be a lot faster. While traditional think-tanks exist already,  they spend months and a lot of money doing policy research and analysis. We are not a traditional think tank. Instead, we will spend time researching issues, more time ideating on solutions for these issues, and then test out these solutions for feasibility.</p>

</p><b><i>We are not planned, rather we embrace spontaneity. </i></b>If a solution we come up with is implementable, we will pass these on to other organizations who have the resources to develop them like the government (hello AAP). The plan is to do good work for all. If any of you know the open source philosophies - that is what we stand for.</p>
<br>


<h2>So what exactly is this?</h2>
<br>

<p>The concept is simple. We bring a group of interesting (and interested) individuals into a room(or some cafe) and we create. This initiative hopes to intertwine traditional social research methodologies with design practices conceptualized at the Stanford d.school and the agile development attitude of the Silicon Valley. We propose, we challenge, we speculate, we ideate, we prototype and we test. The value proposition here is that we know within the time span of a month whether something we thought of is implementable or not. There will be structure that creates a lot of non-structure that exists within work like this - where the research each individual does out of interest more than obligation will be the driving force. </p>
<br>


</div>


{% endblock %}
{% block content %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />

{% endblock %}
